/* src/styles/fonts.css */
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/public/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/public/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}
